EXPO_PUBLIC_BASE_URL=http://192.168.1.100:3000
EXPO_PUBLIC_SCHEME=myapp

# Use your Mac LAN IP above when running Expo Go on a physical device.
# iOS Simulator can use: http://localhost:3000
# Android Emulator can use: http://10.0.2.2:3000
